* {
    margin:0;
}

.listitem {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr repeat(4, 1fr);
}

#recipepopup {
    background-color: white;
    position: absolute;
    top: 140px;
    width: 90%;
    opacity: 0.95;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
}

#addrecipepopup {
    background-color: white;
    position: absolute;
    top: 140px;
    width: 90%;
    opacity: 0.95;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
}

h5 {
    margin-bottom: 20px;
    opacity: 0.8;
    color: #1D3354;
}

.checkbox {
    vertical-align: auto;

}



.qty, .plusminus {
    margin: 0;
    opacity: 0.7;
    text-align: center;
}

.plusminus {
    background-color: #f6f6f6;
    
}

.qtyinput {
    grid-column: 1/3;
    grid-row: 2/2;
    padding: 3px;
    height: 20px;
    
}

#aisleselect {
    grid-column: 3/6;
    grid-row: 2/2;
    width: 100%;
    background-color: white;
    float: right;
    height: 28px;
    padding: 3px;    
}

.textinput {
    grid-column: 1/6;
    grid-row: 1/1;
    padding: 3px;
    height: 20px;
}

.qtyinput, #aisleselect, .textinput {
    border: solid 1px #8a8a8a;
}

#addbutton {
    border: none;
    background-color: #FF6B35;
    padding: 5px;
    color: white;
    width: 50px;
    grid-column: 6/6;
    grid-row: 1/3;
}

.bought {
    text-decoration: line-through;
}

.aislewrapper {
    margin-top: 20px;
}

.clearlist {
    background-color: #FF6B35;
    color: white;
    border: none;
    padding: 5px;
    width: 50%;
    margin: 20px;
    text-align: center;

}

.clearbuttonwrapper {
    display: block;
    text-align: center;
}

header {
    background-color: #1D3354 ;
}

main {
    margin: 20px;
}

.headerwrapper {
    
    margin:0 auto;
    padding:20px 10px 20px 10px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

* {
    font-family: 'Montserrat', sans-serif;

}

label {
    opacity: 0.8;
    font-size: 14px;
}

.itemdescription, .checkbox {
    margin: 0;
    display: block;
    }

.checkbox {
    height: 100%;
    
}

.ingredientwrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 20px auto auto auto;
}

.removebutton {
    width: 60%;
    max-width: 20px;
    opacity: 0.5;
    margin-top: 2px;
    margin: auto;
}

.hiddenpopup {
    display: none;
}

.openpopup {
    display:block;
}

#addingredientsbutton {
margin-left: 75px;
margin-right: 10px;
background-color: #FF6B35;
}

#cancelbutton {
background-color: #1D3354;
}

#addingredientsbutton, #cancelbutton {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    border: none;
    color: white;
    float: left;
}

#recipeselect {
    grid-column: 1/-4;
    padding: 3px;
}

#addnewrecipebutton {
    border:none;
    grid-column: 4/6;
    background-color: #FF6B35;
    color: white
}

#newrecipename {
    width: 96%;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#addrecipepopup input {
    margin:5px;
    padding: 5px;
}

#addrecipepopup select {
    width: 30%;
    padding:5px;
}

#addrecipebutton {
    margin-top:20px;
    border:none;
    grid-column: 4/6;
    background-color: #FF6B35;
    color: white;
    padding: 5px;
    margin-left: 5px;
}

#canceladdrecipe {
    border:none;
    background-color: #1D3354;
    color: white;
    padding: 5px;
}

#ingredient0, #ingredient1, #ingredient2, #ingredient3, #ingredient4, #ingredient5, #ingredient6, #ingredient7, #ingredient8, #ingredient9 {
    width: 58%;
}  